<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}ThingsChat.com{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

{% load static %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}" style="height: auto; ">
      <img class="img-responsive" src="{% static 'images/thingschat.png' %}" alt="ThingsChat" style="max-width: 43px; margin-top: -12px; margin-bottom: -12px; display: inline-block;">
      <span style="display: inline-block;">ThingsChat</span>
      </a>
    </div>

    <!--div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" 
                data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" rel="home" href="#" title="ThingsChat">
            <img style="max-width:100px; margin-top: -7px;"
                 src="{% static 'images/thingschat.png' %}">
        </a>
    </div-->
    
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'contact' %}">Contact</a></li>
      <li><a href="{% url 'home' %}">Page 3</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 4 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<br/>
<div class="container">
  {% block content %}
  {% endblock %}
</div>
  
<div class="container">
  <h3>{% block basetitle %}ThingsChat.com{% endblock %}</h3>
  <p>ThingsChat gives you the freedom to connect your devices online.</p>
</div>

<br/><br/>
<center><small>Copyright &copy; ThingsChat.com - All Rights Reserved</small></center>

</body>
</html>
